{% extends "base.html" %}
{% block title %}
用戶註冊
{% endblock %}
{% block head %}
用戶登錄
{% endblock %}
{% block body %}

<ul>
	{% for field,errors in form.errors.items() %}
		{% for message in errors %}
		<li class="error">{{message}}</li>
		{% endfor %}
	{% endfor %}
</ul>

<form action="/register" method="POST">
<!--防止CSRF攻擊-->
  {{form.hidden_tag() }}
	<table width="40%" border="0">
	<tbody>
		<tr>
			<td class="label">{{form.username.label}}</td>
			<td>{{form.username}}</td>
		</tr>
		<tr>
			<td class="label">{{form.password.label}}</td>
			<td>{{form.password}}</td>
		</tr>
		<tr>
			<td class="label">{{form.password2.label}}</td>
			<td>{{form.password2}}</td>
		</tr>
		<tr>
			<td class="label">{{form.email.label}}</td>
			<td>{{form.email}}</td>
		</tr>
		<tr align="center">
			<td colspan="4">
			<input type="submit" value="確定">
			<input type="reset" value="取消">
			</td>
		</tr>
	</tbody>
	</table>
</form>
{% endblock %}